<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <section class="carousel">
            <div class="carousel__container">
                <div class="carousel-item">
                    <img class="carousel-item__img" src="https://gcdn.emol.cl/mitos-y-enigmas/files/2017/05/Saludo-nazi-adolf_hitler_.jpg" alt="people" srcset="">
                    <div class="carousel-item__detail">
                        <img src="https://img.icons8.com/flat_round/64/000000/play--v1.png" alt="play">
                        <img src="https://img.icons8.com/cute-clipart/64/000000/add-list.png" alt="plus">
                    </div>
                    <p class="carousel-item__details--title">description title</p>
                    <p class="carousel-item__details--subtitle">description subtitle</p>
                </div>
                <div class="carousel-item">
                </div>
            </div>
        </section>
        <link rel="stylesheet" href="carousel.css">
    </body>
</html>