body {
    margin: 0;
}
.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
.carousel__container {
    white-space: nowrap;
    margin: 70px 0;
}
.carousel-item {
    background-color: palevioletred;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}
.carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carousel-item__detail {
    background: linear-gradient(to, top, rgba(0, 0 , 0, 0.9) 0%, rgba(0, 0 ,0 , 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opaxity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-item__details:hover {
    opacity: 1;
}