<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet"> 
</head>
<style>
    
</style>
<body>
    <header class="header">
        <img class="header__img" src="https://raw.githubusercontent.com/platzi/PlatziVideo/feature/react/src/assets/static/logo-platzi-video-BW2.png" alt="">
        <div class="header__menu">
            <div class="header__menu--profile">
                <img src="./user-icon.png" alt="">
                <p>Profile</p>
            </div>
            <ul>
                <li><a href="/"></a>Count</li>
                <li><a href="/"></a>Log out</li>
            </ul>
        </div>
    </header>
    <section class="main">
        <h2 class="main__title">¿Qué quieres ver hoy?</h2>
        <input class="input" type="text" placeholder="Buscar...">
    </section>
    <link rel="stylesheet" href="search.css">
</body>
</html>
